@font-face {
    font-family: 'NeueHaasGroteskDisplayPro';
    src: url('../fonts/NeueHaasDisplay-Mediu.eot');
    src: local('../fonts/Neue Haas Grotesk Display Pro 65 Medium'), local('NeueHaasDisplay-Mediu'),
        url('../fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskDisplayPro';
    src: url('../fonts/NeueHaasDisplay-Bold.eot');
    src: local('../fonts/Neue Haas Grotesk Display Pro 75 Bold'), local('NeueHaasDisplay-Bold'),
        url('../fonts/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Bold.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin-Pro';
    src: url('../fonts/Acumin-RPro.eot');
    src: local('☺'), url('../fonts/Acumin-RPro.woff') format('woff'),
        url('../fonts/Acumin-RPro.ttf') format('truetype'),
        url('../fonts/Acumin-RPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin-Pro';
    src: url('fonts/Acumin-BdPro.eot');
    src: local('☺'), url('../fonts/Acumin-BdPro.woff') format('woff'),
        url('../fonts/Acumin-BdPro.ttf') format('truetype'),
        url('../fonts/Acumin-BdPro.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MADESoulmazeOutline';
    src: url('../fonts/MADE Soulmaze Outline PERSONAL USE.eot');
    src: local('☺'), url('../fonts/MADE Soulmaze Outline PERSONAL USE.woff') format('woff'),
        url('../fonts/MADE Soulmaze Outline PERSONAL USE.ttf') format('truetype'),
        url('../fonts/MADE Soulmaze Outline PERSONAL USE.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Conv_NoirPro-Medium';
    src: url('../fonts/NoirPro-Medium.eot');
    src: local('☺'), url('../fonts/NoirPro-Medium.woff') format('woff'),
        url('../fonts/NoirPro-Medium.ttf') format('truetype'),
        url('../fonts/NoirPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_NoirPro-LightItalic';
    src: url('../fonts/NoirPro-LightItalic.eot');
    src: local('☺'), url('../fonts/NoirPro-LightItalic.woff') format('woff'),
        url('../fonts/NoirPro-LightItalic.ttf') format('truetype'),
        url('../fonts/NoirPro-LightItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_NoirPro-Light';
    src: url('../fonts/NoirPro-Light.eot');
    src: local('☺'), url('../fonts/NoirPro-Light.woff') format('woff'),
        url('../fonts/NoirPro-Light.ttf') format('truetype'),
        url('../fonts/NoirPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_NoirPro-BoldItalic';
    src: url('../fonts/NoirPro-BoldItalic.eot');
    src: local('☺'), url('../fonts/NoirPro-BoldItalic.woff') format('woff'),
        url('../fonts/NoirPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/NoirPro-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_NoirPro-Bold';
    src: url('../fonts/NoirPro-Bold.eot');
    src: local('☺'), url('../fonts/NoirPro-Bold.woff') format('woff'),
        url('../fonts/NoirPro-Bold.ttf') format('truetype'),
        url('../fonts/NoirPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_perfectdosvga437';
    src: url('../fonts/perfectdosvga437.eot');
    src: local('☺'), url('../fonts/perfectdosvga437.woff') format('woff'),
        url('../fonts/perfectdosvga437.ttf') format('truetype'),
        url('../fonts/perfectdosvga437.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}