@import "fonts.css";


.table-block {
    width: calc(60% + 4px);
    position: absolute;
    height: 800px;

    margin-top: 200px;
    margin-left: 20%;


}

.leader-table {
    width: 100%;
    color: #44944A;
    font-family: Conv_perfectdosvga437;
    font-size: 24px;

    border: 1px solid #c8c5b4;
    border-collapse: collapse;
}

.positions-wide {
    width: 50px;
}

.teams-wide {
    text-align: center;

    width: calc(33.3% - 52px);
}

.points-wide {
    width: 33.3%;
}

.secrets-wide {
    width: 33.3%;
}

.positions-unit {
    text-align: center;
}

.teams-unit {
    text-align: left;
    padding-left: 3px;
}

.points-unit {
    text-align: left;
    padding-left: 3px;
}

.secrets-unit {
    text-align: left;
    padding-left: 3px;
}

th {
    background-color: rgba(127, 50, 96, 0.35);
    border: 1px solid #c8c5b4;
    font-size: 40px;
}

tbody {
    border: 1px solid #c8c5b4;
}

tr:nth-child(odd) {
    background-color: #373741;
}

.table-body tr:hover {
    background-color: aqua;
}

td {
    border: none;
}

td:not(:last-child) {
    border-right: 0px solid #1b1b25;
}

.navigate-ct {
    margin-top: 15px;
    width: 33.3%;
    height: 90px;
    margin-left: calc(33% + 4px);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.navigate-ct .table-btn {
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-decoration: none;
    color: #c8c5b4;

    text-align: center;
    margin: auto;

    -webkit-text-stroke-width: calc(5px);
}

.page-counter-ct {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.page-input {

    text-align: center;
    font-size: 45px;
    text-decoration: none;
    color: #44944A;
    font-family: Conv_perfectdosvga437;
    background-color: #1b1b25;

    border: 3px solid #c8c5b4;
    border-radius: 10%;
}

.page-input:focus::placeholder {
    color: #44944A;
}