@import "fonts.css";
@import "leaderboard.css";
@import "shop.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b25;
  width: 100%;
  height: calc(950px + 20vw + 33vh);
}

.bg-line {
  width: 1px;
  background-color: rgba(127, 50, 96, 0.55);
  height: calc(950px + 20vw + 33vh);
  float: left;
  margin-left: 20%;
  z-index: 1;

}

.logo-ct {
  width: 50px;
  height: 50px;
  border-radius: 3px;

  transition-duration: 0.75s;

  z-index: 1;
  position: fixed;
  top: 0px;
  left: 8px;
  right: 0;

}

.logo-block {
  font-family: 'NeueHaasGroteskDisplayPro';
  font-weight: bolder;
  font-size: calc(5vw);
  text-decoration: none;
  color: red;
  letter-spacing: calc(-0.425vw);

  width: 100%;

  margin-left: 5%;
  margin-top: 0px;
  line-height: 100%;
}

.contact-logo {
  position: fixed;
  bottom: 5px;
  left: 10px;
  right: 100px;
  z-index: 1;
}

.header-ct {
  width: calc(60% + 0.5vh);
  height: 100px;

  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;


}

.header-bt {
  text-decoration: none;
  font-family: 'NeueHaasGroteskDisplayPro';
  font-weight: bold;
  font-size: calc(4vw);
  color: #c8c5b4;

  width: 20%;
  height: 100px;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin: auto;
  transition-duration: 0.75s;
}

.header-bt:hover {
  color: #d4499a;
}

.header-bt:hover:before {
  transform: scalex(1);
  transition: transform 0.75s;
  color: #d4499a;
}

.header-bt:before {
  content: '';
  width: 120%;
  height: 5px;
  background-color: #d4499a;
  position: absolute;

  bottom: 10px;

  transform: scaleX(0);
  transition: transform 1.5s;
}


.timer-ct {
  width: calc(60% + 0.5vh);
  height: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  margin-top: 255px;
  margin-left: 20%;

}

.timer-text {
  width: 33.3vw;
  height: 100%;
  margin: auto;


  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-family: 'NeueHaasGroteskDisplayPro';
  font-weight: bold;
  font-size: calc(15vw);
  color: #c8c5b4;
}

.arrow-ct {
  width: 30px;
  height: 150px;
  margin-top: 715px;
  position: absolute;

  margin-left: calc(50% - 15px);

}

.days-ct {
  height: 300px;
  width: 100%;
  font-family: 'NeueHaasGroteskDisplayPro';
  font-weight: bold;

  text-align: center;
  vertical-align: middle;

  position: absolute;
  margin-left: 0;
  margin-top: 450px;
}

.days-counter {
  font-size: calc(4.4vw);
  color: #c8c5b4;

  height: 80px;
  width: 400px;

  display: inline-block;
}


.join-ct {
  width: calc(60% + 4px);
  height: 20vw;
  background-color: #1b1b25;

  position: absolute;
  margin-left: 20%;
  margin-top: 950px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  border: solid 1px rgba(127, 50, 96, 0.55);

  border-top-color: #1b1b25;
  border-bottom-color: #1b1b25;

  transition-duration: 1s;
}

.join-bt {

  height: 100%;
  display: block;
  font-family: 'MADESoulmazeOutline';
  font-weight: normal;
  font-size: calc(15vw);

  text-decoration: none;

  color: white;



  -webkit-text-stroke-width: calc(1vw);
  -webkit-text-stroke-color: #c8c5b4;

  transition-duration: 7s;
}

.join-ct:hover {
  background-color: #1b1b25;
  transition-duration: 0.75s;


  border-color: rgba(127, 50, 96, 0.4);

}

.join-bt:hover {
  color: red;
  -webkit-text-stroke-color: red;
  transition-duration: 1s;
}


.std-text-ct {
  height: 100px;
  width: 20%;
  display: block;
  font-family: 'Conv_NoirPro-Medium';
  font-weight: normal;
  color: #c8c5b4;
  font-size: calc(15px);

  position: absolute;

  margin-left: calc(60% + 4px);
  margin-top: calc(950px + 19.9vw);

}

.small-text {
  height: 10px;
  width: 50px;
  display: block;
  font-family: 'Conv_NoirPro-Medium';
  font-weight: normal;
  color: #c8c5b4;
  font-size: calc(6px);

  position: absolute;
}


.task-ct {
  width: calc(60% + 4px);
  height: 400px;
  background-color: #1b1b25;

  position: absolute;
  margin-left: 20%;
  margin-top: 300px;
}

.small-rect {
  width: 15px;
  height: 15px;
  background-color: #c8c5b4;

  position: absolute;
}

.small-circle {
  width: 15px;
  height: 15px;
  background-color: #c8c5b4;
  border-radius: 50%;

  position: absolute;
}

.task-text-ct {
  width: 100%;
  height: 75%;

  font-family: 'Conv_NoirPro-Medium';
  font-weight: normal;
  color: #c8c5b4;
  font-size: calc(16px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ansver-ct {
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ansver-group {
  display: flex;
  justify-content: center;
  align-items: center;

}

.text-field-input {
  background-color: #1b1b25;
  color: #44944A;
  font-family: Conv_perfectdosvga437;
  font-size: 2.5rem;

  border: none;

  border-bottom: 1px solid #c8c5b4;
  outline: none;

  display: block;

  transition-duration: 0.5s;

  text-align: center;

}

.text-field-input:focus {
  border-bottom-color: #44944A;
}

.text-field-input:focus::placeholder {
  color: #267a2d;
}

.load-file-ct {
  border: 2px solid #c8c5b4;
  border-radius: 10%;
  margin-top: 100%;

  position: absolute;
}

.load-bt {

  display: block;

  border: 1px solid rgba(127, 50, 96, 0.25);
  border-radius: 5%;
  width: 33%;
  margin: auto;

  margin-top: 10px;
  padding: 7px;
  font-family: 'Conv_NoirPro-Medium';
  text-decoration: solid;

  font-weight: normal;
  color: #c8c5b4;
  transition-duration: 0.75s;

}

.load-bt:hover {
  color: red;
  background-color: #2f2f3f98;
}

.prompt-ct {
  width: 20%;
  height: 50px;

  border: 1px solid rgba(127, 50, 96, 0.25);
  position: absolute;
  background-color: #c8c5b4;
  transition-duration: 250ms;

  color: #c8c5b4;

  margin-top: calc(700px + 5px);
  margin-left: calc(60% + 3px);

  display: flex;
  justify-content: center;
  align-items: center;

}

.prompt-saver-text {

  display: block;
  font-family: 'Conv_NoirPro-Medium';
  color: #1b1b25;
  position: absolute;

  font-size: 44px;
}

.prompt-ct:hover {
  background-color: #1b1b25;
}

.prompt-ct:hover .prompt-saver-text {
  color: #1b1b25;
  display: none;

}

.prompt-text {
  font-family: 'Conv_NoirPro-Medium';
}