@import "fonts.css";



.temp-block {
    position: absolute;
    margin-top: 200px;

    width: 100%;

}

.wide-block {
    display: block;
    width: 100%;
    height: 300px;

    margin-bottom: 100px;
    background-color: none;

}

.prod-block {
    width: calc(60% + 4px);
    height: 300px;

    position: absolute;
    margin-left: 20%;

    background-color: #1b1b25;

    border: 1px solid rgba(127, 50, 96, 0.55);

    float: left;
}

.prod-picture-ct {
    width: 33.3%;
    height: 300px;
    display: block;
    background-color: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(127, 50, 96, 0.55);

}

.prod-img-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-text-ct {
    width: 66.7%;
    height: 250px;

    position: absolute;

    margin-top: -300px;
    margin-left: calc(33% + 3px);

    background-color: none;
}

.price-block {
    width: 100%;
    height: 50px;
    background-color: rgba(127, 50, 96, 0.55);

    font-family: 'NeueHaasGroteskDisplayPro';
    font-weight: bolder;
    font-size: calc(40px);
    color: #c8c5b4;

    text-align: center;

}

.prod-desc-block {
    width: 100%;
    height: 200px;
    color: #c8c5b4;
    background-color: none;
    font-family: 'Conv_NoirPro-Medium';
    text-align: center;

    font-size: calc(22px);
}

.prod-bt-ct {
    width: 66.8%;
    height: 50px;
    background-color: #292938;

    position: absolute;

    margin-top: -50px;
    margin-left: calc(33% + 3px);
    display: flex;
}

.prod-presence-block {
    width: 50%;
    height: 50px;
    background-color: none;
    color: #c8c5b4;
    font-family: 'Conv_NoirPro-Medium';
    text-align: center;

    font-size: calc(25px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.order-bt-block {
    background-color: rgba(127, 50, 96, 0.55);
    width: 50%;
    height: 50px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.order-bt {
    display: flex;
    justify-content: center;
    align-items: center;

}


.order-ref {
    text-decoration: none;
    color: #c8c5b4;
    font-family: 'Conv_NoirPro-Medium';

    font-size: calc(35px);
}