{% extends "wrapper_no_btns.html" %}

{% block content %}

<div class="timer-ct">
    <div id="until-ctf-hours" class="timer-text">{{timer.hours}}</div>
    <div id="until-ctf-minutes" class="timer-text">{{timer.minutes}}</div>
    <div id="until-ctf-seconds" class="timer-text">{{timer.seconds}}</div>
</div>

<div class="arrow-ct"><img src="/static/img/Arrow.png" alt=""></div>

<div class=" days-ct">
    <div>
        <p style="color: red; font-size: calc(2vw + 5vh);" class="days-counter">&</p>
    </div>
    <div id="until-ctf-days" class="days-counter" style="margin-top: 20px">{{timer.days}} days</div>
</div>

<!-- <script src="https://ulogin.ru/js/ulogin.js"></script> -->
<!-- data-ulogin="display=buttons;fields=first_name,last_name;redirect_uri={{ulogin_redirect_to}};" -->
<!-- id="uLogin" -->
<div class="join-ct"
>
    <a class="join-bt" data-uloginbutton = "vkontakte">
        JOIN
    </a>
</div>

<div class="std-text-ct" style="width: 20%; height: 100px;">Присоединяйся к посвящению и борьбе с P.I.T.O.N.</div>

<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(950px + 20vw);">JOIN</div>
<div class="small-text" style="margin-left: calc(40% + 2px);   margin-top: calc(950px + 20vw);">JOIN</div>
<div class="small-text" style="margin-left: calc(80% + 4px);   margin-top: calc(950px + 20vw);">JOIN</div>

<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(940px);">JOIN</div>
<div class="small-text" style="margin-left: calc(40% + 2px);   margin-top: calc(940px);">JOIN</div>
<div class="small-text" style="margin-left: calc(60% + 3px);   margin-top: calc(940px);">JOIN</div>
<div class="small-text" style="margin-left: calc(80% + 4px);   margin-top: calc(940px);">JOIN</div>

<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(255px + 10vw);">HOUR</div>
<div class="small-text" style="margin-left: calc(40% + 2px);   margin-top: calc(255px + 10vw);">MINUTE</div>
<div class="small-text" style="margin-left: calc(60% + 2px);   margin-top: calc(255px + 10vw);">SECOND</div>
<div class="small-text" style="margin-left: calc(80% + 2px);   margin-top: calc(255px + 10vw);">TIME</div>

<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(255px);">TIME</div>
<div class="small-text" style="margin-left: calc(40% + 2px);   margin-top: calc(255px);">TIME</div>
<div class="small-text" style="margin-left: calc(60% + 2px);   margin-top: calc(255px);">TIME</div>
<div class="small-text" style="margin-left: calc(80% + 2px);   margin-top: calc(255px);">TIME</div>

<script src="/static/js/timer.js"></script>

{% endblock %}