{% extends "wrapper.html" %}
{% block content %}

<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(100px);">Leaderboard</div>
<div class="small-text" style="margin-left: calc(40% + 3px);   margin-top: calc(100px);">Leaderboard</div>
<div class="small-text" style="margin-left: calc(60% + 3px);   margin-top: calc(100px);">Leaderboard</div>
<div class="small-text" style="margin-left: calc(80% + 4px);   margin-top: calc(100px);">p.i.t.o.n.</div>


<div class="table-block" id="table-block-id">
    <table class="leader-table">
        <thead>
            <tr>
                <th class="positions-wide">{}</th>
                <th class="teams-wide">Команда</th>
                <th class="points-wide">Очки</th>
                <th class="secrets-wide">?</th>
            </tr>
        </thead>
        <tbody class="table-body">
            {% for team in teams %}
            <tr>
                <td class="positions-unit">{{ loop.index0 }}</td>
                <td class="teams-unit">{{team.name}}</td>
                <td class="points-unit">{{team.points}}</td>
                <td class="secrets-unit"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigate-ct">
        <a href="#table-block-id" class="backward table-btn">&lt</a>
        <div class="page-counter-ct"><input type="text" size="3" class="page-input" placeholder="22" maxlength="2">
        </div>
        <a href="#table-block-id" class="forward table-btn">&gt</a>
    </div>
  </div>

{% endblock %}