<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/css2/main.css">
  <link rel="fonts" href="/static/css2/fonts.css">
</head>

<body style="height: 1050px;"></body>
	<div class="bg">
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
	</div>
	<div class="logo-ct"><a href="/" class="logo-block">NB</a></div>
	<div class="contact-logo">
		<a href="https://vk.com/event214714812"><img src="/static/img/vk-logo.png" alt="" style="width: 60px; height: 60px"></a>
	</div>

	<div class="header-ct">
		<a href="#" class="header-bt">TASKS</a>
		<a href="#" class="header-bt">SHOP</a>
		<a href="/teams" class="header-bt">TEAMS</a>
	</div>

	{% block content %}{% endblock %}

	<div class="small-text" style="margin-left: calc(20% + 2px);   margin-top: calc(100px);">key:buforaptovipera</div>
	<div class="small-text" style="margin-left: calc(40% + 2px);   margin-top: calc(100px);">key:buforaptovipera</div>
	<div class="small-text" style="margin-left: calc(60% + 2px);   margin-top: calc(100px);">key:buforaptovipera</div>
	<div class="small-text" style="margin-left: calc(80% + 2px);   margin-top: calc(100px);">key:</div>
</body>

</html>













<!-- <!DOCTYPE html> -->
<!--  -->
<!-- <html> -->
	<!-- <head> -->
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
		<!--  -->
		<!-- <title>Mephi CTF</title> -->
	<!-- </head> -->
	<!--  -->
	<!-- <body> -->
<!--  -->
		<!-- <div> -->
			<!-- <div> -->
				<!-- <h1>Mephi CTF</h1> -->
				<!--  -->
				<!-- {% for btn in data.btns %} -->
<!--  -->
					<!-- <a href="{{ btn.link }}"> -->
						<!-- <button type="button"> -->
							<!-- {{ btn.text }} -->
						<!-- </button> -->
					<!-- </a> -->
<!--  -->
				<!-- {% endfor %} -->
<!--  -->
				<!-- {% if data.user %} -->
				<!-- <a href="https://vk.com/id{{ data.user.vk_user_id }}" target="blank"> -->
					<!-- Профиль -->
				<!-- </a> -->
				<!-- {% else %} -->
				<!-- <a> -->
					<!-- <script src="https://ulogin.ru/js/ulogin.js"></script> -->
					<!-- Авторизация:  -->
					<!-- <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte;hidden=;redirect_uri=http%3A%2F%2F194.67.67.211%2Flogin;mobilebuttons=0;"></div> -->
				<!-- </a> -->
				<!-- {% endif %} -->
				<!--  -->
				<!-- {% if data.user and data.user.team %} -->
					<!-- <a href="/task?uuid={{data.user.team.uuid}}"> -->
						<!-- {{data.user.team.name}} -->
					<!-- </a> -->
				<!-- {% endif %} -->
<!--  -->
				<!-- <hr> -->
				<!-- <br> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </body> -->
<!-- </html> -->