<!DOCTYPE html>
<html lang="en" dir="ltr">

<head prefix="og: https://ogp.me/ns#">
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/css2/main.css">
	<link rel="fonts" href="/static/css2/fonts.css">
	<link rel="shortcut icon" href="/static/img/mini-logo.png" type="image/x-icon">

	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.not-ebene.ru" />
	<meta property="og:image" content="https://www.not-ebene.ru/static/img/logo_krasny.jpg" />
</head>

<body style="height: 1050px;"></body>
	<div class="bg">
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
		<div class="bg-line" style="height: 1050px;"></div>
	</div>
	<div class="logo-ct"><a href="/" class="logo-block">NB</a></div>
	<div class="contact-logo">
		<a href="https://vk.com/event214714812"><img src="/static/img/vk-logo.png" alt="" style="width: 60px; height: 60px"></a>
	</div>

	<div class="header-ct">
		
	</div>

	{% block content %}{% endblock %}

</body>

</html>













<!-- <!DOCTYPE html> -->
<!--  -->
<!-- <html> -->
	<!-- <head> -->
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
		<!--  -->
		<!-- <title>Mephi CTF</title> -->
	<!-- </head> -->
	<!--  -->
	<!-- <body> -->
<!--  -->
		<!-- <div> -->
			<!-- <div> -->
				<!-- <h1>Mephi CTF</h1> -->
				<!--  -->
				<!-- {% for btn in data.btns %} -->
<!--  -->
					<!-- <a href="{{ btn.link }}"> -->
						<!-- <button type="button"> -->
							<!-- {{ btn.text }} -->
						<!-- </button> -->
					<!-- </a> -->
<!--  -->
				<!-- {% endfor %} -->
<!--  -->
				<!-- {% if data.user %} -->
				<!-- <a href="https://vk.com/id{{ data.user.vk_user_id }}" target="blank"> -->
					<!-- Профиль -->
				<!-- </a> -->
				<!-- {% else %} -->
				<!-- <a> -->
					<!-- <script src="https://ulogin.ru/js/ulogin.js"></script> -->
					<!-- Авторизация:  -->
					<!-- <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte;hidden=;redirect_uri=http%3A%2F%2F194.67.67.211%2Flogin;mobilebuttons=0;"></div> -->
				<!-- </a> -->
				<!-- {% endif %} -->
				<!--  -->
				<!-- {% if data.user and data.user.team %} -->
					<!-- <a href="/task?uuid={{data.user.team.uuid}}"> -->
						<!-- {{data.user.team.name}} -->
					<!-- </a> -->
				<!-- {% endif %} -->
<!--  -->
				<!-- <hr> -->
				<!-- <br> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </body> -->
<!-- </html> -->